<div>
  <div class="flex flex-col">
    {{ if .Page.Params.link }}
    <a class="text-lg font-bold" href="{{ .Page.Params.link }}">{{ .Title }}</a>
    {{ else }}
    <a class="text-lg font-bold" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    {{ if .Site.Params.displayDate }}
    <div class="text-sm font-italic whitespace-nowrap {{ if not .Site.Params.displayDescription }}mb-8{{ end }}">{{ .Date | time.Format (T "timeformat") }}</div>
    {{ end }}
  </div>
  {{ if .Site.Params.displayDescription }}
  <p class="text-base mb-8">
    {{ .Description | markdownify | safeHTML }}
  </p>
  {{ end }}
</div>